

<main class="main">
  <div class="content">
    <div class="titlebar">
      <app-title-bar></app-title-bar>
    </div>
    <div class="content">
      <app-submissions></app-submissions>
      <div class="workflow-map">
        <div class="workflows">
          <app-workflows></app-workflows>
        </div>
        <div class="map">
          <app-map></app-map>
        </div>

      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
